@using System.Security.Claims
@using ReversiMvcApp.Helpers
@using ReversiRestApi.Models.Enums
@model IEnumerable<ReversiMvcApp.Models.Game>

@{
    ViewData["Title"] = "Home Page";
    string? currentUserID = Utilities.GetCurrentUserID(User);
}

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th scope="col">Turn</th>
                <th scope="col"></th>
                <th scope="col">@*Spacing*@</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item != null) {
                            @if (item.Player1Token == currentUserID)
                            {
                                <b>(HOST)</b>
                            }
                            @Html.DisplayFor(modelItem => item.Description)
                        }
                        else {
                            @:N/A
                        }
                    </td>
                    <td>
                        @if (item != null) {
                            @if (item.GameStatus == GameStatus.Awaiting) {
                                @:Awaiting
                            }
                            else if (item.TurnToken == currentUserID) {
                                @:Yours
                            }
                            else {
                                @:Theirs
                            }
                        }
                        else {
                            @:N/A
                        }
                    </td>
                    <td>
                        @if (item != null) {
                            <a asp-action="Play" asp-controller="Game" asp-route-token="@item.Token">Play</a>
                        }
                        else {
                            @:N/A
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No games available, maybe try looking for your own over <a asp-action="Index" asp-controller="Game">here?</a></p>
}