@using ReversiMvcApp.Helpers
@model IEnumerable<ReversiMvcApp.Models.Game>

@{
    ViewData["Title"] = "Index";
    var currentUserID = Utilities.GetCurrentUserID(User);
}

<h1>IT'S REVERSI TIME</h1>

<p>
    <a asp-action="Create">Create a new game</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (item.Player1Token == currentUserID)
                {
                    <b>(HOST)</b>
                }
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Details" asp-route-token="@item.Token">Details</a>
                @if (item.Player1Token == currentUserID) {
                    @:| 
                    <a asp-action="Delete" asp-route-token="@item.Token">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
