@model ReversiMvcApp.Models.GamePlayerToken

@section headScripts {
    <link rel="stylesheet" href="~/css/style.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
    <script src="~/js/vendor.js"></script>
    <script src="~/js/templates.js"></script>
    <script src="~/js/app.js"></script>
}

@{
    ViewData["Title"] = "Play";
}

<h1>Play</h1>

<div>
    <h4>Game</h4>
    <hr />
</div>
<div id="feedback-container" class="fade-in" style="display: none">
</div>
<div id="board-container"></div>
<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

<div id="charts">
    <div class="chart">
        <h3>Percentage occupied fields</h3>
        <canvas id="occupiedChart" width="500" height="200"></canvas>
    </div>
    <div class="chart">
        <h3>Total amount of captured pieces</h3>
        <canvas id="capturedChart" width="500" height="200"></canvas>
    </div>
</div>

<div style="width: 800px;"><canvas id="acquisitions"></canvas></div>

<script>
    $(document).ready(function () {
        feedbackWidget = new FeedbackWidget("feedback-container");
        Game.init("https://localhost:5001/api", "@Model.PlayerToken", "@Model.Token");
    });
</script>